id,key,fields.issuetype.name,fields.project.name,fields.reporter.name,fields.reporter.emailAddress,fields.created,fields.status.name,fields.summary,fields.description,fields.priority.name,fields.progress.progress,fields.progress.total
